#ORDER_APP_MODULE=order2pcApp
#PAYMENT_APP_MODULE=payment2pcApp
#STOCK_APP_MODULE=stock2pcApp

#for SAGA mode, comment above and uncomment below
ORDER_APP_MODULE=app
PAYMENT_APP_MODULE=app
STOCK_APP_MODULE=app
